.sidebar-link {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
    text-transform: uppercase;
    line-height: 1;
    user-select: none;
}
  
.sidebar-link a {
    color: black;
}
  
.sidebar-link a:hover {
    text-decoration: none;
    color: black;
}






